* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}
main {
    max-width: 840px;
}
main img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    
}
aside img {
    width: 100px;
    height: auto;
    
}
aside h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 3rem;
}
main img {
    width: 150px;
    height: auto;
    float: right;
}
p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    border: 1px solid #b71234;
    padding: 1rem;
    background-color: #cccaca;
    color: #1a044e;
    margin: 1rem;
}


